<!DOCTYPE html>
<html 	
		lang="pt-br"
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf.org">
	<head>
		<title>EventosApp</title>
		<!--Import Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
	<body>
		<div class="alert alert-success alert-dismissible" role="alert" th:if="${not #strings.isEmpty(mensagem)}">
			<span th:text="${mensagem}"></span>
		</div>
		<!--JavaScript at end of body for optimized loading-->
		<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	</body>
</html>